.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.navbar {
  height: 5vw;
  display: flex;
  align-items: center;
  align-self: center;
}

.Cheese-index {
  display: flex;
  justify-content: center;
}


.image-cont {

  width: 15vw;
  padding: 10px;
  margin: 10px;
}
.image {
  width: 200px;
}
